.blocklyMainBackground {
    fill: transparent !important;
}

.blocklySvg {
    background-image: url('https://img.remit.ee/api/file/BQACAgUAAyEGAASHRsPbAAEXgN5qXQIMjAICny-uuAjISZg2ErqMQAACYSoAAl5o6FZ9Dea0RcaHRT0E.webp') !important;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-color: transparent !important;
}
