.blocklyMainBackground {
    fill: transparent !important;
}

.blocklySvg {
    background-image: url('https://img.remit.ee/api/file/BQACAgUAAyEGAASHRsPbAAEXb3lqWxeikT9A6896DJ6snmAT4cF5-AACNysAAisD2FZgBEXVwphwVz0E.png') !important;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-color: transparent !important;
}
